.perfil_conteudo {
    margin: 35px 0;
    text-align: center;
    color: var(--cor-terc);
}

.perfil_imagem {
    display: block;
    margin: auto;
    width: 96px;
    height: 96px;
    background-image: url('../../img/willow.png');
    background-size: cover;
    border-radius: 50%;
}